h1 {
  background-color: aqua;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border:5px solid rgb(0, 109, 172);
}
h2{
  font-size:200%;
  color: rgb(0, 0, 0);
  background-color: rgb(183, 241, 241);
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
}